* {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
}

body {
   font-family: 'Roboto', sans-serif;
   color: #2F2E41;
   letter-spacing: -0.02em;
   font-weight: 400;
   font-size: 16px;
   line-height: 22px;
   height: 100vh;
   display: flex;
   flex-direction: column;
   min-width: 360px;   /* Против скрола в стороны */
}

header,
footer {
   background-color: #6C63FF;
}

header{
height: 80px;
}

footer {
   padding: 20px 0px;
}

section {
   background-color: white;
   flex-grow: 1;
}

h1,
h2 {
   font-weight: 700;
   text-align: center;
   text-transform: uppercase;
}

h1 {
   font-size: 44px;
   line-height: 52px;
   margin: 100px 0px 70px;
}

h2 {
   font-size: 22px;
   line-height: 26px;
}

a {
   text-transform: capitalize;
   color: #FFFFFF;
}

.container {
   max-width: 1170px;
   width: 100%;
   height: 100%;
   padding: 0px 15px;
   margin: 0 auto;
}

.header-wrapper {
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}
 
.avatar {
   border-radius: 50%;
   object-fit: cover;
   width: 50px;
   height: 50px;
}

.card-wrapper {
   display: flex;
   gap: 14px;
   padding-bottom: 100px;  /* Добавили для того чтобы не прижимался к footer */
   flex-wrap: wrap;
}

.card {
   background-color: #FFFFFF;
   border: 2px solid #E7E7E7;
   border-radius: 5px;
   width: 330px;
   padding: 46px 20px;
   display: flex;
   flex-direction: column;
   align-items: center;
   flex-grow: 1;
}

.card-img {
   margin: 40px 0px 36px;
}

.list {
   list-style: none;
   display: flex;
   justify-content: space-evenly;
}

.link {
   display: flex;
   align-items: center;
   padding: 8px;
  /* white-space: nowrap; --- Делает так, чтобы текст ссылки (если он длинный) не переносился на другую строку */
}

.link img {
   margin-right: 10px;
}

@media (max-width: 767px) {
   h1 {                          
      font-size: 36px;
      line-height: 42px;
      margin: 46px 0px;
   }
   .list {
      justify-content: space-between; /* Добавляем к footer для правильного размещения иконок */
      flex-wrap: wrap;
   }
   li {         /* По хорошему нужно создать клас для li и стилизовать */
      flex-grow: 1; /*  Все лишки занимают свободное пространство */
      width: 50%;  
   }
   .logo {
      padding: 17px 15px;
   }
}

@media (max-width: 375px) {               /* Делаем адаптив. В медиа запрос пишим только то, что меняется при изменении размера. */
   h1 {                          /* Указываем, где имено должен изменится к примеру размер */
      font-size: 28px;                    /* И меняем его. Данные берем из нужного размерного макета figma */
      line-height: 33px;
      margin: 44px 0px 36px;
   }
   .logo {
      width: 160px;
      padding: 22px 15px;
   }
}